<div xmlns:th="http://www.thymeleaf.org" th:fragment="modalRestaurantEdit">
    <div id="myModal-edit" class="modal">
        <div class="modal-content">
            <span class="close modal-close">&times;</span>
            <div id="edit-modal-content">
                <h2>Ajouter un Restaurant</h2>
                <form id="formAddEntity" th:action="@{/restaurant/save}" th:object="${restaurant}" method="post"
                    enctype="multipart/form-data">
                    <div  class="grid2">
                        <input type="text" style="display:none" th:field="*{id}" id="restaurantId">
                        <label>Nom :</label>
                        <input type="text" th:field="*{name}" placeholder="Nom du restaurant" required>

                        <input type="text" style="display:none" th:field="*{restaurantAddress.id}">
                        <input type="text" style="display:none" th:field="*{restaurantAddress.cordX}" required>
                        <input type="text" style="display:none" th:field="*{restaurantAddress.cordY}" required>

                        <label>Ville :</label>
                        <input type="text" th:field="*{restaurantAddress.city}" placeholder="Ville" required>

                        <label>Code postal :</label>
                        <input type="text" th:field="*{restaurantAddress.postalCode}" placeholder="Code postal"
                            pattern="\d{5}" maxlength="5" required>

                        <label>Adresse :</label>
                        <input type="text" th:field="*{restaurantAddress.address}" placeholder="Adresse complète" required>

                        <span></span><div id="searchWrapperEdit" style="float:right; background-color: #3b5998;">
                            <img src="https://img.icons8.com/sf-black/100/ffffff/search.png">
                        </div>
                    </div>
                    <div>
                        <div id="spinnerSearch"></div>
                        <label>Photo :</label>
                        <input type="file" id="imageInput" accept="image/*">
                        <img id="image_details"
                            style="width: 200px; height: 200px; display:block; object-fit: contain; margin-top:10px;">
                        <input type="text" style="display:none" th:field="*{image}" id="imageBase64">
                    </div>
                    <button type="submit">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>