.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* scroll si contenu trop grand */
  background-color: rgba(0,0,0,0.5); /* fond semi-transparent */
}

/* Contenu de la modale */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* centrer verticalement et horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;       /* largeur de la modale */
  max-width: 500px;
  border-radius: 8px;
  position: relative;
}

/* Bouton fermer */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
  border-bottom: black solid 1px;
}

.close:hover,
.close:focus {
  color: black;
}


.modal-content  h2 {
    margin-bottom: 20px;
}

.modal-content  button[type="submit"], .modal-content  input[type="file"] {
     background-color :  #3b5998;
     color : white;
     float : right;
     border: none;
     border-radius: 5px;
     padding: 5px;
}

.modal-content label,.modal-content input,.modal-content label  {
    width:45%;
    display:inline-block;
}

.image_list {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

#image_details, .image_details{
    width: 50px;
    height: 50px;
    object-fit: contain;
}